
#sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
    background: gray;
}

.nav-link {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-top: 60px;
    color: wheat;
}