
#sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
    background: rgb(23, 150, 192);
}

.nav-link {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-top: 60px;
    color: rgb(192, 185, 171);
}

.nav-link:hover{
    color: white;
}

.activeLink{
    text-decoration: underline;
    
}